@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
body{
  margin: 0;
  font-family: "Host Grotesk", serif;
  background-color: #010101; 
  color: #fff;
  display: flex;
  justify-content: center;
}
.container {
  display: flex; 
  flex-direction: row;          
  height: 100vh;            
  width: 1440px;              
}
.left-section {
  flex: 1;                  
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./fumer-fond-noir_38404-333.jpg-2.avif"); 
  background-size: cover;   
  background-position: center;
}
.left-section h1 {
  font-size: 5rem;
  margin-left: 110px;
}
.left-section h2 {
  font-size: 5.5rem;
  font-weight: bold;
  margin-left: 230px ;
  color: #6a6666;
}
.left-section p {
  margin-left: 60px;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: flex-end;
  color: #dee2e4;
  text-shadow: #fff;
  width: 70%;
  z-index: 10;
}

h3 {
  position: absolute;
  right: -250px;
  top: 60px;
  font-size: 1rem;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  border-radius: 20px;
  width: 50%;
}
.left-section footer {
  position: absolute;
  bottom: 100px;
  font-size: 0.9rem;
  letter-spacing: 2px;
}
.right-section {
  flex: 1;                  /* Section droite prend la moitié */
  display: flex;
  justify-content: center;  /* Aligner au centre horizontalement */
  align-items: center;      /* Aligner au centre verticalement */
  background-color: #010101;   /* Fond noir légèrement différent */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;                /* Espacement entre les champs */
  width: 70%;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #676363d6;
  color: #fff;
  border-radius: 5px;
}

input::placeholder {
  color: #aaa;              /* Placeholder grisé */
}

button {
  padding: 10px;
  font-size: 1rem;
  border: none;
  background-color: #ffffff4b;
  color: #888282;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #ccc;
  color: #000;
  transition: 0.3s;
}
li {
  list-style: none;
  font-size: 40px;
}
h4{
  font-size: 50px;
}